.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--centered-size);
  margin: 0 auto;
  padding: var(--space-md);
  background-color: var(--color-light-900);
  transition: background-color 200ms;
}

.nav,
.menu {
  display: flex;
  column-gap: var(--space-md);
  align-items: center;
}

.menu li {
  position: relative;
}

.menu li a {
  color: inherit;
  text-decoration: none;
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-md);
  transition: color 300ms;
}

.menu li a::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  margin-top: 3px;
  bottom: auto;
  top: 100%;
  transition: 300ms;
}

.menu li:hover a::before {
  left: 35%;
  width: 30%;
  background-color: var(--color-primary);
}

.menu li a[aria-current='true'] {
  color: var(--color-dark-900);
}

.menu li a[aria-current='true']::before {
  width: 100%;
  left: 0;
  background-color: var(--color-primary);
}

@media (min-width: 736px) {
  .header {
    padding: var(--space-xxl) var(--space-md) var(--space-md);
  }

  .nav,
  .menu {
    column-gap: var(--space-3xl);
  }
}
