html {
  font-weight: var(--fontWeight-regular);
}

body {
  background-color: var(--color-light-900);
  color: var(--color-dark-700);
  transition: background-color 200ms;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-light-900);
}
