html {
  font-size: 100%;
  font-weight: var(--fontWeight-regular);
  line-height: 1.5;
}

body {
  background-color: var(--color-light-900);
  color: var(--color-dark-700);
  transition: background-color 200ms;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-light-900);
}

:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
  border-radius: 2px;
}
