/* global theme */
:root {
  /* colors */
  --color-primary: #5465ff;
  --color-dark-900: rgba(0, 10, 14, 1);
  --color-dark-700: rgba(0, 10, 14, 0.7);
  --color-dark-50: rgba(0, 10, 14, 0.05);
  --color-light-900: rgba(255, 255, 255, 1);
  --color-light-700: rgba(255, 255, 255, 0.7);

  /* spacing */
  --space-xs: 0.25rem; /* 4 */
  --space-sm: 0.5rem; /* 8 */
  --space-md: 1rem; /* 16 */
  --space-lg: 1.5rem; /* 24 */
  --space-xl: 2rem; /* 32 */
  --space-xxl: 2.5rem; /* 40 */
  --space-3xl: 3rem; /* 48 */

  /* fonts */
  --fontSize-xs: 0.875rem; /* 14 */
  --fontSize-sm: 1rem; /* 16 */
  --fontSize-md: 1.125rem; /* 18 */
  --fontSize-lg: 1.25rem; /* 20 */
  --fontSize-xl: 1.75rem; /* 28 */
  --fontSize-xxl: 2rem; /* 32 */
  --fontSize-3xl: 3rem; /* 40 */
  --fontWeight-regular: 100;
  --fontWeight-medium: 300;
  --fontWeight-bold: 500;

  /* others */
  --centered-size: 55rem; /* 1000 */
  --radius: 0.75rem; /* 12 */
}

/* dark mode */
html[data-theme='dark'] {
  --color-primary: #52b788;
  --color-dark-900: rgba(255, 255, 255, 1);
  --color-dark-700: rgba(255, 255, 255, 0.7);
  --color-dark-200: rgba(255, 255, 255, 0.2);
  --color-dark-50: rgba(255, 255, 255, 0.05);
  --color-light-900: rgba(0, 10, 14, 1);
  --color-light-700: rgba(0, 10, 14, 0.7);
}
