.post {
  color: inherit;
  text-decoration: none;
}

.image {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--radius);
  overflow: hidden;
  outline: 3px solid transparent;
  outline-offset: 0px;
  transition: outline 300ms, outline-offset 300ms;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.metas {
  margin: var(--space-xs) 0 var(--space-sm) 0;
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.meta {
  font-weight: var(--fontWeight-medium);
}

.mic {
  color: var(--color-primary);
  margin-right: var(--space-xs);
}

.title {
  margin-bottom: var(--space-xs);
}

.more {
  display: flex;
  margin-top: var(--space-sm);
}

.post:focus-visible {
  outline: none;
}

.post:hover .image,
.post:focus-visible .image {
  outline: 3px solid var(--color-primary);
  outline-offset: var(--space-xs);
}

@media (min-width: 736px) {
  .article {
    display: flex;
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 1px solid var(--color-primary);
    padding-right: var(--space-lg);
    margin-right: var(--space-lg);
  }

  .title {
    margin-bottom: var(--space-md);
  }

  .metas {
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
    margin-bottom: 0;
    margin-top: var(--space-sm);
  }

  .image {
    width: 6.25rem;
    border-radius: 6px;
  }

  .description {
    -webkit-line-clamp: 4;
  }
}
