.emoji {
  color: var(--color-primary);
}

.jobs {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxl);
}

.logos {
  display: flex;
  gap: var(--space-xxl);
  font-size: 2.5rem;
  margin-bottom: var(--space-3xl);
}

.meImage {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-top: var(--space-3xl);
  max-width: 21.875rem;
  border-radius: var(--radius);
  overflow: hidden;
}

.experiences {
  margin-top: var(--space-3xl);
}

.life {
  margin-top: var(--space-lg);
}

.resume {
  margin-top: var(--space-lg);
}
