.emoji {
  color: var(--color-primary);
}

.jobs {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxl);
}

.logos {
  display: flex;
  gap: var(--space-xxl);
  font-size: 2.5rem;
  margin-bottom: var(--space-3xl);
}

.meImage {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: var(--space-3xl);
  max-width: 37.5rem;
  border-radius: var(--radius);
  overflow: hidden;
}

.pictureCopyright {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xxl);
}

.pictureCopyright a {
  color: inherit;
  text-decoration: none;
}

.experiences {
  margin-top: var(--space-3xl);
}
