.projectsSection {
  margin-top: var(--space-3xl);
}

.projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--space-md);
}

@media (min-width: 736px) {
  .projectsSection {
    margin-top: 8rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-3xl);
  }
}
