.project {
  color: inherit;
  text-decoration: none;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-xs);
}

.description {
  max-width: 21rem;
  display: block;
  margin-bottom: var(--space-lg);
}

.stars {
  display: flex;
  align-items: center;
  margin-left: var(--space-sm);
}

.icon {
  color: var(--color-primary);
  font-size: 0.8rem;
  margin-left: var(--space-xs);
}

.image {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--radius);
  overflow: hidden;
  outline: 3px solid transparent;
  outline-offset: 0px;
  border: 1px solid var(--color-dark-200);
  transition:
    outline 300ms,
    outline-offset 300ms;
}

.project:focus-visible {
  outline: none;
}

.project:hover .image,
.project:focus-visible .image {
  outline: 3px solid var(--color-primary);
  outline-offset: var(--space-xs);
}
