[class^='icon-'],
[class*=' icon-'] {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-forward:before {
  content: '\e90c';
}
.icon-typescript:before {
  content: '\e900';
}
.icon-css:before {
  content: '\e901';
}
.icon-react:before {
  content: '\e902';
}
.icon-figma:before {
  content: '\e903';
}
.icon-javascript:before {
  content: '\e904';
}
.icon-dribbble:before {
  content: '\e905';
}
.icon-github:before {
  content: '\e906';
}
.icon-linkedin:before {
  content: '\e907';
}
.icon-moon:before {
  content: '\e908';
}
.icon-sun:before {
  content: '\e909';
}
.icon-twitch:before {
  content: '\e90a';
}
.icon-twitter:before {
  content: '\e90b';
}
